<launch>
  <!-- Launchfile arguments -->
  <arg name="rviz" value="true" />

  <!-- Farm simulation -->
  <rosparam file="$(find farm_simulator)/config/farm_simulator.yaml" command="load" />

  <node pkg="nodelet" type="nodelet" args="manager" name="farm_nodelet_manager" output="screen" />
  <node pkg="nodelet" type="nodelet" args="load farm_simulator/FarmNodelet farm_nodelet_manager"
    name="farm_nodelet" output="screen" />

  <!-- Rviz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find farm_simulator)/rviz/farm_simulator.rviz" if="$(arg rviz)" />

</launch>
